# Symfony Framework Bundle
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# PHPUnit
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

# Symfony Asset Mapper
###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Секреты и ключи
.env

# Логи
*.log

# Папки зависимостей
node_modules/

# Системные файлы
.DS_Store
Thumbs.db
